/* AccountPage.css */
.account-page {
}

.account-page h2 {
}

.favorites-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.favorites-subheader {
    text-align: center;
    font-size: 2em;
}