.ingredient-search {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ingredient-search h3 {
    margin-top: 0;
}

.ingredient-search form {
    margin-bottom: 10px;
}

.ingredient-search input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.ingredient-search button[type="submit"] {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: purple;
    cursor: pointer;
}

.ingredient-search button[type="submit"]:hover {
    background-color: #e6e6e6;
}

.ingredient-search ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ingredient-search-list {
    overflow: scroll;
    height: 40vh;
}

.ingredient-item {
    display: flex;
    justify-content: space-between;
}

.ingredient-search .ingredient-item {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
}

.ingredient-search .ingredient-item:hover {
    background-color: #f2f2f2;
}

.ingredient-add-btn {
    margin-right: 2%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: purple;
    cursor: pointer;
    color: white;
    font-weight: bold;
}